/* 
  Write here your CSS rules for HackYourRepo!
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 70%;
  margin: 0 auto;
  font-family: 'Roboto';
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-radius: 2px;

  background-color: #3f51b5;
  height: 60px;
  color: white;
}
.label {
  margin: auto 2rem;
  width: auto;
}
.select {
  display: flex;
  justify-content: start;
  margin: auto 1rem;
}
#select-repo {
  line-height: 5rem;
  padding: 0.3rem;
  border-radius: 5px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.details {
  width: 50%;
}

.contributors {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
#contributors {
  width: 100%;

  color: darkgray;
  padding-top: 0;
}
#contributors-list {
  width: 100%;
  margin-top: 2px;
  height: auto;
}
.cont-img {
  margin-right: 40px;
}
.main-content {
  border: solid 1px gray;
  box-shadow: 5px 5px 5px gray;
  margin: 0.2rem;
  padding: 0.9rem;
  line-height: 1.5rem;
  border-radius: 5px;
}
ul {
  list-style: none;
}
li.h3 {
  font-weight: bold;
}
.titles {
  font-weight: bold;
  vertical-align: top;
}
.content {
  padding-left: 5rem;
  vertical-align: top;
}
td {
  height: 30px;
}
